# This is a basic workflow to help you get started with Actions

name: Build

# Controls when the action will run.
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  buildMac:
    runs-on: macos-15

    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v4.1.7

      - uses: krdlab/setup-haxe@master
        with:
          haxe-version: 4.2.5
      # Runs a set of commands using the runners shell
      - name: Install Haxelib
        run: |
          haxelib setup ~/haxelib
          haxelib install hxcpp > /dev/null
          haxelib git discord_rpc https://github.com/Aidan63/linc_discord-rpc.git
          haxelib install flixel-addons 3.0.2
          haxelib install flixel-demos 2.9.0
          haxelib install flixel-templates 2.6.6
          haxelib install flixel-tools 1.5.1
          haxelib install flixel-ui 2.5.0
          haxelib install flixel 5.2.2
          haxelib install flxanimate 3.0.4
          haxelib install hscript 2.5.0
          haxelib git hxCodec https://github.com/polybiusproxy/hxCodec.git
          haxelib install lime-samples 7.0.0
          haxelib install lime 8.0.1
          haxelib git linc_luajit https://github.com/superpowers04/linc_luajit.git
          haxelib install openfl 9.2.1

          haxelib list
      - name: Create Version Tag
        run: echo "${{github.run_id}}" > VERSION
      - name: Compile
        run: haxelib run lime build mac --app-version="4.0.0-${{ github.run_id}}"
      - name: Publish Artifact
        uses: actions/upload-artifact@v4.3.4
        with:
          name: macBuild
          path: export/release/macos/bin
